body {
    background-color: white;
    font-family: Arial;
    margin: 0;
}

nav {
    background: #333;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.content {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
